# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.env
*.venv
.venv/
venv/
ENV/
env/

# SQL / DB
*.db
*.sqlite3
backend.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Node
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# OS files
.DS_Store
Thumbs.db
